#container-div {
  font-family: Arial, sans-serif;
}

body {
  background-color: darkcyan;
}

span {
  background-color: #98FB98;
}

img {
  position: relative;
  width: 50%;
  z-index: 1;
}

#vertical {
  background-color: blue;
}

#horizontal {
  background-color: yellow;
}

#rand {
  background-color: darkgreen;
}

.button_stuff {
  position: relative;
  z-index: 1;
}
